@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --limegreen: rgb(175, 235, 56);
  --darklimegreen: rgb(127, 175, 31);
  --white: #ffffff; 
  --black: rgb(31, 36, 43);
  
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: var(--white);
  background-color: var(--black);
}
.button-global {
  background: var(--limegreen);
  color: var(--black);
  font-weight: bold;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}
.button-global:hover {
  background:var(--darklimegreen);
}
.button-global:active {
  background:var(--limegreen);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.footer {
  text-align: center; /* Center-align content horizontally */
  padding: 100px 0; /* Add padding for spacing */
  font-size: 13px;
}


.navbar .page-title h1 {
  color: var(--limegreen);
}
.navbar .page-title h1:hover {
  color: var(--darklimegreen);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;  
  float: left; 
  /* THE PROBLEM SOLVER OF SHIFTING MENUS*/
}
.navbar a:hover {
  color: var(--limegreen);
}

/* blog previews / list */
.blog-list h2{
  font-size: 25px;
  color: #9ACD32;
  padding-bottom: 10px;
}
.blog-preview {
  padding: 10px 0px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  max-width: 600px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #9ACD32;
  margin-bottom: 8px;
}
.blog-preview h2:hover {
  color: rgb(127, 175, 31)
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #9ACD32;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-paragraph {
  text-align: justify;
  text-justify: inter-word;
}

/* BMIcalculator */
.bmi {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
  }
.bmi label {
  text-align: left;
  display: block;
}
.bmi h2 {
  font-size: 20px;
  color: var(--limegreen);
  margin-bottom: 30px;
}
.bmi input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #9ACD32;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #9ACD32;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}
.counter {
  text-align: center;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  /* padding: 0px 16px; */
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn:hover {
  color: var(--limegreen);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #9ACD32; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(31, 36, 43);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

.home {
  margin-top: 100px;
}
.home h2{
  text-align: center;
  font-size: 40px;
}
.home p{
  text-align: center;
  padding-top: 10px;
  max-width: 350px;
  margin: 0 auto;
}
.home h3{
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
}
.home-about:hover {
  color: var(--darklimegreen);
}
.about p {
  margin-top: 50px;
}
.not-found p{
  margin-top: 30px;
}
.not-found-link {
  margin-top: 10px;
}
.not-found-link a:hover {
  color: #9ACD32;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: right;
  font-size: 24px;
}

.calculator input[type="text"] {
  width: calc(100%);
  margin-bottom: 10px;
  padding: 5px;
  font-size: 24px;
  border-radius: 4px;
  border: 2px solid #ccc;
}

.cbuttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.button-calc {
  background: var(--limegreen);
  color: var(--black);
  border: 0;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.button-calc:hover {
  background:var(--darklimegreen);
}
.button-calc:active {
  background:var(--limegreen);
}

/* Styles for the weather container */
.weather-container {
  width:  340px;
  height: 480px;
  margin: auto; 
  margin-top: 35px;
  border-radius: 12px; 
  padding-top: 10px;
  background: linear-gradient(180deg, var(--limegreen) 20%, var(--darklimegreen) 100%);
}

/* Styles for the top bar */
.top-bar {
  display: flex; 
  gap: 14px;
  justify-content: center; 
  padding-top: 13px;
  background: none;
}

/* Styles for the city input */
.top-bar input {
  display: flex;
  width: 65%; 
  height: 30px;
  border: 1px solid #ccc; 
  border-radius: 20px; 
  font-size: 12px; 
  padding-left: 15px;
  background: var(--white);
  color: var(--black);
}

/* Styles for the search icon */
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 35px; 
  height: 35px; 
  border-radius: 18px;
  cursor: pointer; 
}

.search-icon img{
  background: none;
  width: 12px; 
  height: 12px; 
  padding-left: 2px;
}

.weather-error-message {
  padding-top: 5px;
  background: none;
  color:rgb(233, 57, 14);
  font-weight: bold;
  text-align: center;
}

.weather-image {
  background: none;
  text-align: center;
}

.weather-image img {
  background: none;
  width: 170px;
  height: 170px;
}

.weather-temp {
  font-size: 60px;
  color: var(--white);
  font-weight: bold;
  background: none;
  text-align: center;
}

.weather-location {
  font-size: 35px;
  font-weight: bold;
  background: none;
  color: var(--white);
  text-align: center;
}

.data-container {
  margin-top: 10%;
  display: flex;
  background: none;
  justify-content: center;
  
}

.element {
  display: flex;
  background: none;
  text-align: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  background: none;
  padding-left: 20px;
}

.data {
  background: none;
  color: var(--white);
}

.humidity-percent {
  background: none;
  color: var(--white);
}

.wind-rate {
  background: none;
  color: var(--white);
}

.text {
  background: none;
  color: var(--white);
}

